a{
    text-decoration: none;
}
.coco > a{
    text-decoration: none;
    color: black;
}
.ro{
    display: grid;
    grid-template-columns: 5% 90% 5%;
}
.co2{
    display: grid;
    grid-template-rows: 100%;
    grid-gap: 5px;
}
.coco{
    background-color: rgb(249,249,249);
    color: rgb(40,40,40);
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 10px;
}
.footer{
display: flex;
justify-content: center;
align-items: center;
gap: 4px;
margin-top: 5px;
}
.car{
}
html body{
    background-color: rgb(249,249,249);
    color: rgb(40,40,40);
    height: 100%
}
a, form{
    color: black;
}

.loading{
    display: none;
}
img{
    width: 100%;
    height: 150px;
}

@media (max-width: 600px){
.footer{
    background-color: rgb(249,249,249);
    color: rgb(40,40,40);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-top: 5px;
}
.ro{
    display: grid;
    grid-template-columns: 100%;
}
.co1{
    display: none;
}
.co3{
    display: none;
}

.co2{
    display: grid;
    grid-template-rows: 90% 10%;
}
.coco{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 5px;
}
.card{
    margin: 8px;
}
.container-fluid{
    background-color: rgb(249,249,249);
    color: rgb(40,40,40);
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    height: 100%
}
html body{
    background-color: rgb(249,249,249);
    color: rgb(40,40,40);
    height: 100%
}
a, form{
    color: black;
}
}